$main-margin = 16px
$main-border-color = #F6F6F6
$primary-color = #EB4F4B
$btn-default-color = #E71F19
$btn-default-color = #F27A77
$font-normal = 'PingFangSC-Regular', Helvetica, Arial, sans-serif
$font-bold = 'PingFangSC-Meduium', Helvetica, Arial, sans-serif
